.version
Makefile
Makefile.in
aclocal.m4
*.swp
*/Makefile
*/Makefile.in
autom4te.cache
*.a
*.la
*.o
*.lo
*.deps
*.libs
*.dirstamp
config.*
configure
libtool
gardenctl/gardenctl
build-aux/ar-lib
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build
cscope*
m4/*
!m4/gardenctl.m4
.uncrustify
